<link rel="stylesheet" href="stylesheets/style.css">
<input id="cb" type="text" value="hello">

<h1>Image Uploader</h1>

<h2>Upload Photos</h2>
<form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
  <h2>Select an image or zip file containing image to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div id="error-message" class="error-inactive" >Choosen file is not a picture</div>
  </br>
  <div><input id="submit" type="submit" value="Upload Image" disabled=t></div>
</form>

<p id="message">{{message}}</p>

<h2>Generated Thumbnails</h2>
{{#each this.thumbnails}}
  {{!-- <div>
    <div> --}}
      <img class="thumbnails" src="https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/{{name}}">
    {{!-- </div>
    <div>
      Image Link: https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/{{name}}
    </div>
  </div> --}}
{{/each}}

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    var anchors = document.getElementsByClassName('thumbnails');
    for(var i = 0; i < anchors.length; i++) {

        var anchor = anchors[i];

        anchor.addEventListener('click', (e) => {
          var src = e.target.currentSrc;
          var cb = document.getElementById("cb");
          cb.value = src;
          cb.style.display='block';
          cb.select();
          document.execCommand('copy');
        
          alert("Image URL copied! : " + src);
        });
    };

    document.getElementById('file-picker').addEventListener('change', (e) => {

      if(picker.files[0].type.includes('image') || picker.files[0].type.includes('zip')) {
        document.getElementById('submit').removeAttribute("disabled");
        document.getElementById('error-message').classList.add("error-inactive");
        document.getElementById('error-message').classList.remove("error-active");

        if(picker.files[0].type.includes('image')){
          document.getElementById('upload-form').action = "/";
        } else {
          document.getElementById('upload-form').action = "/zip";
        }

      } else {
        document.getElementById('submit').setAttribute("disabled", "disabled");
        document.getElementById('error-message').classList.add("error-active");
        document.getElementById('error-message').classList.remove("error-inactive");
      }

    });

    document.getElementById('upload-form').addEventListener('submit', (e) => {
      
      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select an image to upload.';
        e.preventDefault();
        return false;
      }
    });
    

  });
</script>